<button type="button" class="boton" (click)="cargar()" [disabled]="loading">
  <i class="fa" [ngClass]=" { 'fa-save':!loading, 'fa-spin fa-refresh': loading } "></i>
  <span *ngIf="!loading">Guardando cambios</span>
  <span *ngIf="loading">Cargando...</span>
</button>